/* Defaults */

body, html{
  height: 100%;

}

body{
  margin:0;
  padding:0;
  font-family: 'helvetica';
  color:#fff;
  background-color: #f1f1f1;
  list-style: none;
}

.container-fluid{
    margin:0 !important;
    padding:0 !important;
}

ul{
  list-style-type: none;
  margin: 0 ;
  padding-left: 0 !important;
  padding-top: 0;
}

a{
  color: #1f1f1f !important;
  padding: 10px;
}

a:hover{

  color: #c8d502 !important;
}

.row{
  margin: 0 !important;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}


/* Large feature */


.jumbotron{
  text-align: center;
  background-image: url('../img/header_cover.jpg');
  background-repeat: none;
  max-height:250px;
  border-radius: 0 !important;
  padding: 50px;
  background-size: cover;
  background-position: center center;
  clear:both;
  position:relative;
}

.jumbotron .text-container{
  margin-left: auto;
  margin-right:auto;
  margin-top: 150px;
}

.home{
  padding: 20px;
  padding-bottom: 100px;
  background-color: #f1f1f1;
}

/* index page */
.posts-wrap{
  background-color: #fff;
  padding-bottom: 80px;
}

.top-events{
  padding: 20px;
  background-color: #fff;
}

.sidebar-title{
  font-weight: 800;
}
.text-container h2{
  color:#fff;
  font-weight: 800;
}

.text-container h4{
  color:#fff;
  font-weight: 800;
}

.button_con{
  margin-top:40px;
}

button a {
  color: #fff;
}

.group_by_time{
  margin: 0 auto;

}

.fe_title{
  padding:10px;
}

.thumb-image{
  max-height: 200px;
  margin: 0 auto;
}


/* post-layout */


.post-layout{
  clear: both;
  padding: 20px !important ;
  background-color: #f1f1f1;
}
.post-preview{
  height: 200px;
  background-size:cover;

  background-position: center center;

}

.post-content-container{
  background-color: #fff;
  padding-top: 40px;
}

.post-con h3{
  padding: 0 !important;
  margin: 0 !important;
  text-transform: uppercase;
}

.post-con{

  
  max-width: 1020px;
  margin: 0 auto;

  height: auto;


}

.post{
  height:300px;


}

.homepage{
  max-width: 960px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.post-image{
  background-size: cover;
  background-position: center center;
  min-height: 250px;
  padding-top:20px;

  clear: both;
}

.post-image img{
  min-height: 200px;
}



.post:hover{


  background-color: #c5efbb;
}

.post_options{
  height:60px;
  padding:10px auto 10px auto;

  border-top:none;
  position:relative;
}

.post_title{
  text-transform: capitalize;
  font-size: 14px;
}

.post_info{


}
.post_text{
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
  padding: 20px;


}

.post_options i{
  border-radius: 100%;
  background-color:#1f1f1f;
  color:#fff;
  width:25px;
  text-align:center;
  padding:5px;
}

@media only screen and (max-width: 991px){
  .sidebar{
    display: none !important;
  }
}


/* end post-layout */

.social_icons{
  position: absolute;

  margin:0 !important;

  padding:0 !important;
}

.social_icons li{
  display: inline;
}

.about_con{
  background-size: cover;
  background-position: center center;
  background-image: url('../img/event_marketing.jpg');
  height: 315px;
  max-width:560px;
  margin: 0 auto 50px auto;
}
footer{
  padding-top: 30px;
  background-color: #282C35;
  color: #666A73;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
}

.column{
  padding-left: 0 !important;

}

footer li a{
  color: #a8a8a8 !important;
  padding-left: 0 !important;


}

footer li{
  margin-bottom: 2px !important;
}

.footer-heading{
  margin-bottom: 20px !important;
  color: #f1f1f1;
}

footer i{
  padding-right: 10px;
}

.copyright{
  padding-top: 40px;
}

.footer-nav{
  background-color: #282C35 !important;
}
.footer-nav li{
  display: inline;
}


/* social icons */

.social-media li{
  display: inline;

}

.social-media a{
  color: #fff;
}
.facebook{
  background-color:#4770b6;
}

.twitter{
  background-color: #2dadd6;
}

.instagram{
  background-color: #f56040;
}

.footer-share{
  width: 72px;
  padding: 6px;
  color: #fff !important;
  height: 32px;
  display: inline-block;;
  margin-bottom: 5px;
  text-align: center;
}

.footer-share i{
  padding: 0 !important;

}

.top-link{
  min-height: 200px !important;
}

.back-to-top a{
  color: #fff !important;
}

.back-to-top{
bottom: 0;
right: 0;
position: absolute;
}

@media only screen and (max-width: 991px){
  .back-to-top{
    left: 0 !important;
  }

  .top-link{
    min-height: 50px !important;
  }
}
