---
title: fata gahunda with upkigali
layout: default
image: header_cover.jpg
---

<div class="home">
   {% capture currentDate %}{{'now' | date: '%s' }}{% endcapture %}
<header class="jumbotron large-feature">
  <div class="text-container">

</div>


</header>

<div class="row homepage">
  <div class="col-md-12 posts-wrap">
<div class="group_by_time" id="future_events">


{% include category-nav.html %}







</div>
</div>
</div>
</div>



<!-- <div class="sidebar col-md-4 ">
  {% include sidebar.html %}
</div> -->


</div>
