---
title: Movies
layout: default
Description: Get to know about the movies playing at a cinema near you
---

<div class="movies_wrapper">
<div class="movies_header">
  <h3>Movies</h3>
  <h4>Discover movies to watch and read about the latest movie releases.<h4>
    <hr align="left" class="header_rule" />
</div>

<div class="movies_lg_feature">
  <div class="row">
    <div class="big_deal col-md-8 lg_feature_child">
      <section>
      {% for post in site.categories.movies %}
      {% if post.title contains 'Accountant' %}
      <a class="post_link" href="{{post.url}}">
        <div class="bg-wrap">
      <div class="jumbotron" style="background-image: url('{{site.github.url}}/img/{{post.image}}')">
      </div>
    </div>
      <div class="movies-lg-feature-details">
        <div class="details_wrapper">
        <h1>{{post.title}}</h1>
        <h4>{{post.description}}</h4>
        <a href="{{post.url}}#trailer" class="trailer-btn btn btn-outline">View Trailer</a>
        <button class="pull-right trailer-btn btn btn-outline btn-success">{% if post.status == 'showing' %}In Theaters Now{% elsif post.status == 'upcoming' %}Coming Soon{% endif %}</button>
        </div>

      </div>
      </a>

      {% endif %}
      {% endfor %}
    </section>


    <section class="latest">
      <div class="latest-wrapper">
        <h2 class="section-heading">Latest Movie Releases</h2>
        <div class="movie-posters-wrap">
          <div class="embedded-movies row">
            {% for post in site.categories.movies limit: 3 %}
              {% if post.age == 'latest' %}

              <div class="col-md-4 col-md-offset-0">
                  <a href="{{post.url}}">
                  <div class="box_wrap" >
                    <div class="movie_poster" style="position: relative; background-image: url('{{site.github.url}}/img/{{post.image}}')">
                    </div>
                    <h4 style="font-size:16px; font-weight: 700">{{post.title}}</h4>
                  </div>

                  </a>
              </div>


              <!-- <div class="col-md-4 ">
                <a href="{{post.url}}">
                  <div class="movie_poster" style="background-image:url('{{site.github.url}}/img/{{post.image}}')">
                  </div>
                    <h4 style="font-size:16px; font-weight: 700">{{post.title}}</h4>
                </a>
              </div>
 -->


              {% endif %}
              {% endfor %}
          </div>
        </div>
      </div>
    </section>

    <section class="latest">
      <div class="showing-wrapper">
        <h2 class="section-heading"><i class="fa fa-film" style="padding-right: 5px"></i>Now Showing</h2>
        <div class="movie-posters-wrap">
          <div class="embedded-movies row">
            {% for post in site.categories.movies limit: 6 %}
              {% if post.status == 'showing' %}

              <div class="col-md-6 col-md-offset-0">
                  <a href="{{post.url}}">
                  <div class="box_wrap" >
                    <div class="movie_poster" style="position: relative; background-image: url('{{site.github.url}}/img/{{post.image}}')">
                    </div>
                    <h4 style="font-size:16px; font-weight: 700">{{post.title}}</h4>
                  </div>

                  </a>
              </div>


              <!-- <div class="col-md-4 ">
                <a href="{{post.url}}">
                  <div class="movie_poster" style="background-image:url('{{site.github.url}}/img/{{post.image}}')">
                  </div>
                    <h4 style="font-size:16px; font-weight: 700">{{post.title}}</h4>
                </a>
              </div>
 -->


              {% endif %}
              {% endfor %}
          </div>
        </div>
      </div>
    </section>


    </div>



    <div class="side_chick col-md-4 lg_feature_child">
      {% for post in site.categories.movies %}
      {% if post.tag == 'priority' %}

      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>





</div>


























<style>

h1{
  margin: 0;
}
.movies_wrapper{
  padding: 0 20px;
  max-width: 1080px;
  margin: 0 auto;
}

.post_link{
  padding: 0 !important;
}
.movies_header{

  padding-top: 20px;
  /*padding-left: 20px;
  padding-right: 20px;*/

}

.movies_header h4{
  font-weight: lighter;
  line-height: 30px;
}

.header_rule{
  border-width: thick;
  max-width: 550px;
  border: 2px solid #1f1f1f;
  text-align: left;
}

.movies_header h3{
  font-weight: 700;
  text-transform: uppercase;
}

.big_deal .jumbotron{
  height: 350px;
  padding: 0 !important;
  border-radius: 0;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 !important;
  background-position: center center;
}


.lg_feature_child{
  min-height: 450px;
  padding-left: 0;
  padding-right: 0;
}

.movies-lg-feature-details{

  /*padding: 0 20px;*/
  min-height: 200px !important;
}

.movies-lg-feature-details .details_wrapper{
  background-color: rgb(51, 51, 51);
  color: #fff;
  padding: 10px;
  font-family: helvetica;

}

.movies-lg-feature-details .details_wrapper h1{
  font-weight: 700;
  text-transform: uppercase;
}

.movies-lg-feature-details h4{
  color: #f1f1f1;
  font-size: 16px !important;

}

.movies_lg_feature a:hover{
  text-decoration: none !important;
  background-blend-mode: darken;
  opacity: 0.7;
}

.details_wrapper a{
  color: #f1f1f1 !important;
}


.bg-wrap{
  /*padding: 0 20px;*/
}
.details_wrapper a:hover{
  color: #c8d502 !important;
}

.latest{
  min-height: 250px;
  padding-bottom: 50px;
}

.section-heading{
  padding-left: 15px;
  font-weight: 700;
  text-transform: uppercase;
}



.movie_poster{
  height: 250px;
  background-size: cover;
  border: 2px solid #a8a8a8;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center center;
}

.movie_poster:hover{
  border-color: #c8d502;
}




</style>
