<footer class="site-footer">
  <div class="wrapper">
  <ul class="social-foe">
          <li><a href="https://www.facebook.com/upkigali/?fref=ts" class=" face"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#" class=" twi"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
         <li><a href="#" class=" pin"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="#" class=" dri"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li> 
         
          
        </ul>

   

    </h2>
    <p>
  Event marketing & highlights in Kigali Rwanda
    </p>

<div class="fb-like" data-href="https://www.facebook.com/upkigali/?fref=ts" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                     
  </div>

  

