<footer>
<div class="row">


  <!-- categories -->
  <div class="col-md-4 column categories">
    <h4 class="footer-heading">Top Categories</h4>
    <ul>
      <li><a href="">Festivals</a></li>
      <li><a href="">Movies</a></li>
      <li><a href="">Concerts</a></li>
      <li><a href="">Kids & Family Events</a></li>
    </ul>

    <ul class="footer-nav breadcrumb">

      <li><a href="#">About</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Advertise</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>


  <div class="col-md-4 column">
    <h4 class="footer-heading">Get in Touch with Us</h4>
    <ul>
      <li><a href="{{site.github.url}}/about.html"><i class="fa fa-envelope"></i>Submit an event</a></li>
      <li><a href="https://web.facebook.com/upkigali" title="@upkigali" target="_blank"><i class="fa fa-facebook-official"></i>Facebook</a>
      <!-- <li><a href="#"><i class="fa fa-twitter"></i>Twitter</a>
      <li><a href="#"><i class="fa fa-instagram"></i>Instagram</a> -->
    </ul>
  </div>

  <div class="col-md-3 column">
    <h4 class="footer-heading">Follow Us</h4>
    {% include social-icons.html %}
  </div>

  <div class="col-md-1 column top-link">
    <div class="back-to-top">
      <a href="#top" class="page-scroll"><i class="fa fa-arrow-circle-up fa-3x"></i></a>
  </div>
</div>

</div>

<div class="copyright text-left">
<p>UpKigali © Copyright 2016. All rights reserved</p>
</div>
</footer>
