<footer>
<div class="row">
  <div class="col-md-4">
    <h4>Get in Touch with Us</h4>
    <ul>
      <li><a href="#"><i class="fa fa-envelope"></i>Contact sales team</a></li>
      <li><a href="https://web.facebook.com/upkigali" title="@upkigali" target="_blank"><i class="fa fa-facebook"></i>Facebook</a>
      <!-- <li><a href="#"><i class="fa fa-twitter"></i>Twitter</a>
      <li><a href="#"><i class="fa fa-instagram"></i>Instagram</a> -->
    </ul>
  </div>
</div>

<div class="copyright text-center">
<p>© UpKigali 2016</p>
</div>
</footer>
