<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="UpKigali is an event marketing website that provides a well built interface to view upcoming and on-going events in Kigali">
  <meta name="author" content="UpKigali">
  
<!-- Facebook metatags -->
  <meta property="og:locale" content="">
  <meta property="og:url" content="http://upkigali.com">
  <meta property="og:title" content="UpKigali">
  <meta property="og:site_name" content="UpKigali ">
  <meta property="og:description" content="UpKigali is an event marketing website that provides a well built interface to view upcoming and on-going events in Kigali">
  <meta property="og:image" content="{{site.github.url}}/img/header_cover.jpg">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:type" content="website">

<!-- Twitter Metatags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@bitiabt">
<meta name="twitter:title" content="UpKigali">
<meta name="twitter:description" content=" UpKigali is an event marketing website that provides a well built interface to view upcoming and on-going events in Kigali">
<meta name="twitter:creator" content=" @bitiabt">

<!--Imagens largas para o Twitter Summary Card precisam ter pelo menos 280x150px -->
<meta name="twitter:image" content="{{site.github.url}}/img/header_cover.jpg">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{site.github.url}}/css/style.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link href="{{site.github.url}}/css/bootstrap.min.css" rel="stylesheet">
   <link href="css/ratchet.min.css" rel="stylesheet">
  <link href="{{site.github.url}}/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>
