<div class="highlights">
  <h2 class="parallax text-center text-uppercase heading " style="font-family:'lato';font-weight: 700; padding:20px" >UpKigali, Giving you Gahundas since 2016AD</h2>
  <div class="row">
    {% for post in site.categories.events limit: 2 %}
    {% if post.label == 'highlight' %}

    <a class="highlight-link" href="{{post.url}}">
    <div class="col-md-{{post.width}} highlight-item" style="background-image:url('{{site.github.url}}/img/{{post.image}}')">
      <div class="highlight-info">
        <h2 style="font-weight: 700; color: #fff" class="highlight-title">{{post.title}}</h2>
      </div>
    </div>
  </a>

    {% endif %}
    {% endfor %}

    {% for post in site.categories.movies limit: 2 %}
    {% if post.label == 'highlight' %}

    <a class="highlight-link" href="{{post.url}}">
    <div class="col-md-{{post.width}} highlight-item" style="background-image:url('{{site.github.url}}/img/{{post.image}}')">
      <div class="highlight-info">
          <h2 style="font-weight: 700; color: #fff" class="highlight-title">{{post.title}}</h2>
      </div>
    </div>
  </a>

    {% endif %}
    {% endfor %}
  </div>
</div>


<style>

.highlights{
  border: 3px solid #1f1f1f;
}
h2{
  margin: 0;
}

.heading{
  background-image: url('{{site.github.url}}/img/c.jpg');
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;

  /*filter: grayscale(100%);
    -moz-filter:grayscale(100%);
  -webkit-filter: grayscale(100%);*/
}

.highlight-info{
  z-index: 180;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(200,213,2, 0.75);
  padding: 10px 15px;
  left: 0;


}
.highlight-item{
  filter: blur(0);
  -moz-filter: blur(0);
  -webkit-filter: blur(0);
  position: relative;

  height: 300px;
  background-position: center center;
  background-size: cover;
}

.highlight-item:hover{
  filter: blur(2px);
  -moz-filter: blur(2px);
  -webkit-filter: blur(2px);
}

.highlight-link{
  padding: 0;
  margin:0;
}


</style>
