<div class="post-info-sidebar" style="padding-top: 10px">

  <h4 class="movies-info movies-info-heading">Cast:</h4>
  <p class="text-muted">{{page.cast}}</p>

  <h4 class="movies-info movies-info-heading">Runtime:</h4>
  <p class="text-muted">{{page.runtime}}</p>

  <h4 class="movies-info movies-info-heading">Genre:</h4>
  <p class="text-muted">{{page.genre}}</p>

  <a href="#trailer" class="page-scroll trailer-btn btn btn-outline">View Trailer</a>
</div>


<style>
.movies-info-heading{
  font-weight: 700;
}
</style>
