<!-- <nav  class="main">
  <ul class="pull-left">
    <li><a class="text-primary site-title" href="{{site.github.url}}/index.html">UpKigali</a></li>
  </ul>
  <ul class="pull-right nav-links">
    <li><a href="#" class="btn nav-button">Events</a></li>
    <li><a href="#" class="btn nav-button">Movies</a></li>
    <li><a href="https://upkigali.typeform.com/to/JvRURK" data-mode="1" class="btn btn-primary">Post an Event</a></li>
  </ul>
</nav>


<!-- mobile -->


<nav id="top" id="subNav" class="mobile navbar navbar-default navbar-top navbar-custom">
       <div class="container">
           <!-- Brand and toggle get grouped for better mobile display -->
           <div class="navbar-header page-scroll">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                   <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
               </button>
               <a class="navbar-brand site-title" href="{{site.github.url}}/index.html">
               <img src="{{site.github.url}}/img/nigga.png">
               </a>
           </div>

           <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul style="margin-top: 35px !important" class="container-fluid nav navbar-nav navbar-right">
                   <li class="hidden">
                       <a href="index.html"></a>
                   </li>
                   <li >
                       <a href="{{site.github.url}}/index.html">Events</a>
                   </li>
                   <!-- <li >
                       <a href="{{site.github.url}}/movies.html">Movies</a>
                   </li> -->
                   <li>
                       <a href="https://upkigali.typeform.com/to/JvRURK" data-mode="1" class="btn btn-outline btn-outline-white">Post an event</a>
                   </li>


               </ul>
           </div>
           <!-- /.navbar-collapse -->
       </div>
       <!-- /.container-fluid -->
   </nav>



<style>

.site-title{

    font-weight: 700;
    text-transform: uppercase;
    /*padding: 0 !important;
    margin: 0 !important;*/
    padding: 0 !important;
    color: #c9d700 !important;
}

.site-title:hover{
  text-decoration: none;
}

.key-button{
  margin-bottom: 4px;
  color: #fff !important;
  padding: 1em !important;
}

nav{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 5px;
  color: #fff;
  min-height: 60px;
  background-color:  #131f28 !important ;
}
nav ul li{
  display: inline;
}

nav a{
  color: #fff !important;

  font-weight: 700;
}



.nav-button{
  font-weight: 700;
  color: #fff;

}

.mobile{
  padding-bottom: 5px !important;
  min-height: 60px;
  margin-bottom: 0 !important;
  background-color:  #131f28 !important;

}

.navbar-toggle{
background-color:  #286090;
}
.navbar-toggle:hover{
  background-color: #286090 !important;
}

@media only screen and (max-width: 500px){
  .main{
    display: none !important;

  }

  .mobile{
    display: block !important;
    min-height: 150px;
    padding-top: 0 !important;
  }

  .mobile img{
    float: left;
  }



}

.navbar{
  border-radius: 0 !important;
  border: none !important;
  }

@media only screen and (max-width: 767px){
  .mobile{
    min-height: 100px;
    padding-bottom: 5px;
  }
}

@media only screen and (max-width: 400px){
  .mobile{
    min-height: 200px;
    padding-bottom: 5px;
  }
}
.btn{
  border: 1px solid !important;
  }

</style>
