<nav class="mainNav">
  <a href="{{site.github.url}}/index.html"><img src="{{site.github.url}}/img/logo.jpg" title="UpKigali" class="pull-left img-responsive"></a>
  <ul class="pull-right">
    <!-- <li><a href="event_categories.html" title="" >Event Categories</a></li> -->
    <li><a href="about.html" title="">What we do</a></li>
    <!-- <li><a href="help.html" title="">Help</a></li> -->
  </ul>
</nav>

<header class="mobileNav bar bar-nav">
  <a href="{{site.github.url}}/index.html"><img src="{{site.github.url}}/img/logo.jpg" title="UpKigali" class="mobile-img img-responsive"></a>
  <div class="social-icons-con">
    <ul class="social_icons">
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
  </ul>
  </div>
    </header>
