<div class="search">
  <form action="/search/" method="get">
  		<!-- <label for="search_box">Search</label> -->
  		<input class="form-control text-center " type="text" placeholder="Search events, places..." id="search_box" name="query"></input>
  		<!-- <input type="submit" value="Search"> -->
  </form>
</div>


<style>
.form-control{
  border-radius: 0 !important;
  background-color: transparent !important;

}
@media only screen and (min-width: 992px){
  .form-control{
    max-width: 40%;
    margin: 30px auto;


  }
}

</style>
