<div class="top-events" style="background-color: #131f28; padding-top: 5px !important; font-family:'Arimo'; padding-left: 0 !important; color: #f1f1f1">
  <h2 class="sidebar-heading sidebar-title text-center">Top Events</h2>
  <div class="row">
  {% for post in site.categories.events limit: 3 %}
  {% if post.priority == "top" %}

  <div class="embedded">
  <a href="{{post.url}}">
  <div class="col-md-12 event_poster" style="background-image: url('{{site.github.url}}/img/{{post.image}}')">

  </div>
    <h5 class="btn btn-outline sidebar-title">{{post.title}}</h5>
  </a>
</div>


  {% endif %}
  {% endfor %}
</div>
</div>


<style>
.embedded{
  padding: 0 15px;
  text-align: center !important;
}

.top-events .btn{
  padding: 6px 12px !important;
  background-color: #1f1f1f;
  color: #fff;
}

.embedded h5{
  margin: 10px 0;
}

.event_poster{
  height: 250px;
  background-size: cover;
  background-position: center center;
}

.sidebar_heading{
  font-size: 0.3em;
}

</style>
