---
layout: default
---

<div class="search-results__wrapper">
  {{content}}
</div>

<!-- style -->

<style>
.search-results__wrapper{
  padding: 4em 5em;
}
.search-results-container{
  max-width: 600px;
  margin: 10px auto;
  font-size: 14px;
  background-color: ;
  padding: 10px;

}
.search-results__wrapper a{
  text-decoration: underline !important; 
}

.search-results-container a{
  color: #333333;
}

.search-results-container a:hover{
  text-decoration: none !important;
}

.search-results-container input{
  min-width: 40%;
}

.search-results-container ul{
  list-style-type: none !important;
  padding-left: 0 !important;
}

</style>
